@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:regular,500,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular&display=swap");
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #404149;
  --color-gray: #999999;
  --color-orange: #F7654A;
  --color-light-gray: #F7F7F7;
  --color-background: #e5e5e5;
  --font-family-main: "Oswald";
  --font-family-second: "Open Sans";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  display: block;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
  display: block;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  background-color: var(--color-background);
  font-family: var(--font-family-main);
}

._text {
  color: var(--color-gray);
  font-weight: 400;
  font-size: 16px;
  line-height: 137.5%;
  font-family: var(--font-family-second);
}
._text._white {
  color: var(--color-white);
}

._title-big {
  color: var(--color-black);
  font-weight: 500;
  /* Если меньше контейнера */
  font-size: 36px;
  line-height: 147.2222222222%;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 1200px) {
  ._title-big {
    font-size: calc(26px + 10 * ((100vw - 320px) / 880));
  }
}
._title-big._dark {
  color: var(--color-dark);
}
._title-big._white {
  color: var(--color-white);
}

._ibg {
  display: flex;
  padding-bottom: 100%;
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.burger {
  background-color: #f7654a;
  display: inline-block;
  padding: 15px; /* Если меньше контейнера */
  padding: 15px;
}
@media (max-width: 1200px) {
  .burger {
    padding: calc(15px + 0 * ((100vw - 320px) / 880));
  }
}
@media (any-hover: hover) {
  .burger {
    transition: background-color 0.3s;
  }
  .burger:hover {
    background-color: #fff;
  }
  .burger:hover .burger__icon span {
    transition: background-color 0.3s;
    background-color: var(--color-orange);
  }
}
.burger__icon {
  width: 21px;
  height: 17px;
  position: relative;
}
.burger__icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3.3px;
  background-color: var(--color-white);
  border-radius: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.burger__icon span:first-child {
  top: 0;
  transform: none;
}
.burger__icon span:last-child {
  top: auto;
  bottom: 0;
  transform: none;
}

.header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
@media (min-width: 480.2px) {
  .header__wrapper._active {
    opacity: 1;
    pointer-events: all;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 450px;
  height: 100%;
  background-color: #e5e5e5;
  filter: drop-shadow(0 6px 14px rgba(0, 0, 0, 0.2));
  transition: right 0.5s;
}
.menu._active {
  right: 0;
}
@media (max-width: 1024.2px) {
  .menu {
    /* Если меньше контейнера */
    width: 450px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .menu {
    width: calc(350px + 100 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 480.2px) {
  .menu {
    width: 100%;
  }
}

.menu-top {
  padding: 15px;
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-top__close {
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  color: #000;
  display: flex;
  justify-content: center;
}
@media (any-hover: hover) {
  .menu-top__close {
    transition: 0.3s;
  }
  .menu-top__close:hover {
    background-color: rgba(229, 229, 229, 0.44);
  }
}

.menu-logo {
  display: flex;
  align-items: center;
}
.menu-logo__icon {
  margin-right: 15px;
  width: 50px;
}
.menu-logo__icon img {
  max-width: 100%;
}
.menu-logo__title {
  font-size: 24px;
}

.menu-body__link {
  padding: 15px;
  border-bottom: 1px solid rgba(121, 121, 121, 0.368627451);
  font-size: 18px;
}
@media (any-hover: hover) {
  .menu-body__link {
    transition: background-color 0.3s, background-color 0.3s;
  }
  .menu-body__link:hover {
    background-color: var(--color-orange);
    color: #e5e5e5;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s;
}
.header._active {
  background-color: rgba(62, 60, 67, 0.9411764706);
}
.header._active .header__body {
  /* Если меньше контейнера */
  height: 80px;
}
@media (max-width: 1200px) {
  .header._active .header__body {
    height: calc(70px + 10 * ((100vw - 320px) / 880));
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Если меньше контейнера */
  height: 100px;
  transition: height 0.3s;
}
@media (max-width: 1200px) {
  .header__body {
    height: calc(90px + 10 * ((100vw - 320px) / 880));
  }
}
.header__logo {
  /* Если меньше контейнера */
  width: 60px;
}
@media (max-width: 1200px) {
  .header__logo {
    width: calc(50px + 10 * ((100vw - 320px) / 880));
  }
}
.header__logo img {
  max-width: 100%;
}
.footer {
  background-color: var(--color-dark);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 552.2px) {
  .footer__body {
    display: block;
    text-align: center;
  }
}
.footer__text {
  color: var(--color-white);
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 16px;
  /* Если меньше контейнера */
  font-size: 16px;
  line-height: 137.5%;
}
@media (max-width: 1200px) {
  .footer__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 552.2px) {
  .footer__text:not(:last-child) {
    margin-bottom: 15px;
  }
}

@keyframes grow {}
.main-block {
  background-image: url("../img/sections/main-block/01.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* Если меньше контейнера */
  padding-top: 192px;
}
@media (max-width: 1200px) {
  .main-block {
    padding-top: calc(125px + 67 * ((100vw - 320px) / 880));
  }
}
@media (max-height: 650.2px) {
  .main-block {
    height: 650.2px;
  }
}
.main-block__title {
  color: var(--color-white);
  font-weight: 500;
  /* Если меньше контейнера */
  font-size: 64px;
  line-height: 148.4375%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  max-width: 734px;
  margin: 0px auto;
}
@media (max-width: 1200px) {
  .main-block__title {
    font-size: calc(44px + 20 * ((100vw - 320px) / 880));
  }
}
.main-block__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 35px;
}
@media (max-width: 1200px) {
  .main-block__title:not(:last-child) {
    margin-bottom: calc(15px + 20 * ((100vw - 320px) / 880));
  }
}
.main-block__text {
  color: var(--color-white);
  font-weight: 400;
  /* Если меньше контейнера */
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .main-block__text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}

.experience {
  transform: translateY(-50%);
}
.experience__body {
  background-color: var(--color-light-gray);
  /* Если меньше контейнера */
  padding-top: 57px;
  /* Если меньше контейнера */
  padding-bottom: 57px;
  /* Если меньше контейнера */
  padding-left: 130px;
  /* Если меньше контейнера */
  padding-right: 130px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 30px;
  /* Если меньше контейнера */
  row-gap: 30px;
}
@media (max-width: 1200px) {
  .experience__body {
    padding-top: calc(30px + 27 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .experience__body {
    padding-bottom: calc(30px + 27 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .experience__body {
    padding-left: calc(0px + 130 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .experience__body {
    padding-right: calc(0px + 130 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .experience__body {
    row-gap: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 552.2px) {
  .experience__body {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 0;
    padding-right: 0;
  }
}
.experience__item {
  text-align: center;
}
.experience__number {
  color: var(--color-orange);
  font-weight: 500;
  /* Если меньше контейнера */
  font-size: 72px;
  line-height: 148.6111111111%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .experience__number {
    font-size: calc(52px + 20 * ((100vw - 320px) / 880));
  }
}
.experience__title {
  color: var(--color-black);
  font-weight: 500;
  /* Если меньше контейнера */
  font-size: 36px;
  line-height: 147.2222222222%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .experience__title {
    font-size: calc(26px + 10 * ((100vw - 320px) / 880));
  }
}
.experience__sub-title {
  color: var(--color-gray);
  font-weight: 500;
  /* Если меньше контейнера */
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 1200px) {
  .experience__sub-title {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}

.projects {
  /* Если меньше контейнера */
  margin-top: 0px;
}
@media (max-width: 1200px) {
  .projects {
    margin-top: calc(-100px + 100 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 552.2px) {
  .projects {
    /* Если меньше контейнера */
    margin-top: -130px;
  }
}
@media (max-width: 552.2px) and (max-width: 1200px) {
  .projects {
    margin-top: calc(-130px + 0 * ((100vw - 320px) / 880));
  }
}
.projects:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 115px;
}
@media (max-width: 1200px) {
  .projects:not(:last-child) {
    margin-bottom: calc(57px + 58 * ((100vw - 320px) / 880));
  }
}
.projects__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .projects__title:not(:last-child) {
    margin-bottom: calc(15px + 45 * ((100vw - 320px) / 880));
  }
}
.projects__columns {
  display: grid;
  /* Если меньше контейнера */
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1200px) {
  .projects__columns {
    gap: calc(11px + 19 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 552.2px) {
  .projects__columns {
    grid-template-columns: repeat(1, 1fr);
    /* Если меньше контейнера */
    gap: 30px;
  }
}
@media (max-width: 552.2px) and (max-width: 1200px) {
  .projects__columns {
    gap: calc(30px + 0 * ((100vw - 320px) / 880));
  }
}

.projects-columns__wrapper {
  position: relative;
}
.projects-columns__wrapper::before {
  content: "";
  display: block;
  position: absolute;
  /* Если меньше контейнера */
  bottom: -50px;
  bottom: -50px;
  left: 0;
  background-color: var(--color-orange);
  width: 55px;
  height: 6px;
}
@media (max-width: 1200px) {
  .projects-columns__wrapper::before {
    bottom: calc(-35px + -15 * ((100vw - 320px) / 880));
  }
}
.projects-columns__wrapper:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 65px;
}
@media (max-width: 1200px) {
  .projects-columns__wrapper:not(:last-child) {
    margin-bottom: calc(50px + 15 * ((100vw - 320px) / 880));
  }
}
.projects-columns__img {
  overflow: hidden;
}
.projects-columns__img img {
  transition: transform 0.5s, filter 0.5s;
}
@media (any-hover: hover) {
  .projects-columns__img:hover img {
    transform: scale(1.1);
    filter: brightness(110%);
  }
}
.projects-columns__title {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
}
.projects-columns__title a {
  color: var(--color-dark);
}
.projects-columns__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .projects-columns__title:not(:last-child) {
    margin-bottom: calc(10px + 5 * ((100vw - 320px) / 880));
  }
}
.projects-columns__link {
  display: -webkit-box;
  -webkit-line-clamp: 1; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  left: 0;
  position: relative;
}
@media (any-hover: hover) {
  .projects-columns__link {
    transition: color 0.3s;
  }
  .projects-columns__link:hover {
    color: var(--color-orange);
  }
}
.projects-columns__text {
  max-width: 350px;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.request {
  /* Если меньше контейнера */
  padding-top: 32px;
  /* Если меньше контейнера */
  padding-bottom: 43px;
  background-color: var(--color-orange);
}
@media (max-width: 1200px) {
  .request {
    padding-top: calc(32px + 0 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .request {
    padding-bottom: calc(43px + 0 * ((100vw - 320px) / 880));
  }
}
.request:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 152px;
}
@media (max-width: 1200px) {
  .request:not(:last-child) {
    margin-bottom: calc(76px + 76 * ((100vw - 320px) / 880));
  }
}
.request__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768.2px) {
  .request__body {
    display: block;
    text-align: center;
  }
}
.request__title {
  color: var(--color-white);
  font-weight: 700;
  /* Если меньше контейнера */
  font-size: 48px;
  line-height: 147.9166666667%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .request__title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 880));
  }
}
.request__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .request__title:not(:last-child) {
    margin-bottom: calc(10px + 0 * ((100vw - 320px) / 880));
  }
}
.request__sub-title {
  color: var(--color-white);
  font-weight: 700;
  /* Если меньше контейнера */
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .request__sub-title {
    font-size: calc(16px + 8 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 768.2px) {
  .request__sub-title {
    margin-bottom: 20px;
  }
}
.request-button {
  background-color: var(--color-white);
  padding-top: 14px;
  padding-bottom: 14px;
  /* Если меньше контейнера */
  padding-left: 30px;
  /* Если меньше контейнера */
  padding-right: 30px;
  display: flex;
  align-items: center;
}
@media (max-width: 1200px) {
  .request-button {
    padding-left: calc(20px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .request-button {
    padding-right: calc(20px + 10 * ((100vw - 320px) / 880));
  }
}
@media (any-hover: hover) {
  .request-button {
    transition: background-color 0.3s;
  }
  .request-button:hover {
    background-color: var(--color-dark);
  }
  .request-button:hover .request-button__text {
    color: var(--color-white);
  }
  .request-button:hover .request-button__email svg * {
    fill: var(--color-white);
  }
}
@media (max-width: 768.2px) {
  .request-button {
    margin: 0px auto;
  }
}
.request-button__email {
  margin-right: 15px;
}
.request-button__email svg * {
  fill: var(--color-black);
  transition: fill 0.3s;
}
.request-button__text {
  color: var(--color-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: color 0.3s;
}

.services:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 150px;
}
@media (max-width: 1200px) {
  .services:not(:last-child) {
    margin-bottom: calc(75px + 75 * ((100vw - 320px) / 880));
  }
}
.services__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 66px;
}
@media (max-width: 1200px) {
  .services__title:not(:last-child) {
    margin-bottom: calc(30px + 36 * ((100vw - 320px) / 880));
  }
}
.services__columns {
  display: grid;
  /* Если меньше контейнера */
  gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1200px) {
  .services__columns {
    gap: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 768.2px) {
  .services__columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 552.2px) {
  .services__columns {
    grid-template-columns: repeat(1, 1fr);
  }
}

.services-columns__item {
  background-color: var(--color-light-gray);
  /* Если меньше контейнера */
  padding-top: 59px;
  /* Если меньше контейнера */
  padding-bottom: 59px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1200px) {
  .services-columns__item {
    padding-top: calc(59px + 0 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .services-columns__item {
    padding-bottom: calc(59px + 0 * ((100vw - 320px) / 880));
  }
}
.services-columns__icon:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  .services-columns__icon:not(:last-child) {
    margin-bottom: calc(25px + 0 * ((100vw - 320px) / 880));
  }
}
.services-columns__title {
  color: var(--color-black);
  font-weight: 500;
  font-size: 21px;
  line-height: 147.619047619%;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 172px;
  text-transform: uppercase;
}

.gallery:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 150px;
}
@media (max-width: 1200px) {
  .gallery:not(:last-child) {
    margin-bottom: calc(75px + 75 * ((100vw - 320px) / 880));
  }
}
.gallery__body .swiper {
  position: relative;
  overflow: hidden;
}
.gallery__body .swiper-wrapper {
  display: inline-flex;
}
.gallery__body .swiper-wrapper._grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.gallery__body .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery__body .swiper-button-prev,
.gallery__body .swiper-button-next {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}
.gallery__body .swiper-button-prev._active,
.gallery__body .swiper-button-next._active {
  display: block;
}
.gallery__body .swiper-button-prev svg,
.gallery__body .swiper-button-next svg {
  fill: var(--color-white);
}
.gallery__body .swiper-button-prev {
  left: 15px;
}
.gallery__body .swiper-button-next {
  right: 15px;
  transform: translateY(-50%) rotate(180deg);
}
.gallery__body .swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 15px;
  gap: 5px;
  display: none;
}
.gallery__body .swiper-pagination._active {
  display: flex;
}
.gallery__body .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: var(--color-light-gray);
  border-radius: 100vmax;
  cursor: pointer;
}
.gallery__body .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-orange);
}
.answers:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 150px;
}
@media (max-width: 1200px) {
  .answers:not(:last-child) {
    margin-bottom: calc(75px + 75 * ((100vw - 320px) / 880));
  }
}
.answers__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 50px;
}
@media (max-width: 1200px) {
  .answers__title:not(:last-child) {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 880));
  }
}
.answers-spoilers__spoiler:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 40px;
}
@media (max-width: 1200px) {
  .answers-spoilers__spoiler:not(:last-child) {
    margin-bottom: calc(20px + 20 * ((100vw - 320px) / 880));
  }
}
.answers-spoilers__spoiler._active .answers-button:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .answers-spoilers__spoiler._active .answers-button:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
.answers-spoilers__spoiler._active .answers-button__icon {
  transform: rotate(90deg);
}
.answers-spoilers__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
.answers-spoilers__text {
  max-width: 730px;
}

.answers-button {
  display: flex;
  align-items: center;
  transition: margin-bottom 0.3s;
}
.answers-button__icon {
  /* Если меньше контейнера */
  margin-right: 15px;
  transition: transform 0.3s;
}
@media (max-width: 1200px) {
  .answers-button__icon {
    margin-right: calc(15px + 0 * ((100vw - 320px) / 880));
  }
}
.answers-button__text {
  color: var(--color-orange);
  font-weight: 500;
  /* Если меньше контейнера */
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .answers-button__text {
    font-size: calc(21px + 3 * ((100vw - 320px) / 880));
  }
}

.partners {
  background-color: var(--color-dark);
  padding-bottom: 70px;
  /* Если меньше контейнера */
  padding-top: 100px;
  /* Если меньше контейнера */
  padding-bottom: 100px;
}
@media (max-width: 1200px) {
  .partners {
    padding-top: calc(50px + 50 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .partners {
    padding-bottom: calc(75px + 25 * ((100vw - 320px) / 880));
  }
}
.partners:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 150px;
}
@media (max-width: 1200px) {
  .partners:not(:last-child) {
    margin-bottom: calc(75px + 75 * ((100vw - 320px) / 880));
  }
}
.partners__body {
  position: relative;
}
.partners__body .swiper {
  position: relative;
  overflow: hidden;
}
.partners__body .swiper-wrapper {
  display: inline-flex;
}
.partners__body .swiper-wrapper._grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.partners__body .swiper-button-prev,
.partners__body .swiper-button-next {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: none;
}
.partners__body .swiper-button-prev._active,
.partners__body .swiper-button-next._active {
  display: block;
}
.partners__body .swiper-button-prev svg,
.partners__body .swiper-button-next svg {
  fill: var(--color-white);
}
.partners__body .swiper-button-prev {
  left: 0;
}
.partners__body .swiper-button-next {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}
.partners__body .swiper-pagination {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
  gap: 5px;
  display: none;
}
.partners__body .swiper-pagination._active {
  display: flex;
}
.partners__body .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: rgb(100, 100, 100);
  border-radius: 100vmax;
  cursor: pointer;
}
.partners__body .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--color-orange);
}
.partners__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .partners__title:not(:last-child) {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 880));
  }
}
.partners__item {
  display: flex;
  justify-content: center;
}

.reviews:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 150px;
}
@media (max-width: 1200px) {
  .reviews:not(:last-child) {
    margin-bottom: calc(75px + 75 * ((100vw - 320px) / 880));
  }
}
.reviews__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .reviews__title:not(:last-child) {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 880));
  }
}
.reviews__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Если меньше контейнера */
  gap: 30px;
}
@media (max-width: 1200px) {
  .reviews__columns {
    gap: calc(0px + 30 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 768.2px) {
  .reviews__columns {
    grid-template-columns: repeat(1, 1fr);
    /* Если меньше контейнера */
    gap: 30px;
  }
}
@media (max-width: 768.2px) and (max-width: 1200px) {
  .reviews__columns {
    gap: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}

.reviews-columns__item {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.reviews-columns__body {
  background-color: var(--color-light-gray);
  /* Если меньше контейнера */
  padding-top: 28px;
  /* Если меньше контейнера */
  padding-bottom: 28px;
  /* Если меньше контейнера */
  padding-left: 28px;
  /* Если меньше контейнера */
  padding-right: 28px;
  flex: 1 1 auto;
}
@media (max-width: 1200px) {
  .reviews-columns__body {
    padding-top: calc(28px + 0 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .reviews-columns__body {
    padding-bottom: calc(28px + 0 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .reviews-columns__body {
    padding-left: calc(28px + 0 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .reviews-columns__body {
    padding-right: calc(28px + 0 * ((100vw - 320px) / 880));
  }
}
.reviews-columns__body:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .reviews-columns__body:not(:last-child) {
    margin-bottom: calc(15px + 15 * ((100vw - 320px) / 880));
  }
}
.reviews-columns__icon:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 15px;
}
@media (max-width: 1200px) {
  .reviews-columns__icon:not(:last-child) {
    margin-bottom: calc(15px + 0 * ((100vw - 320px) / 880));
  }
}
.reviews-columns__text {
  color: var(--color-gray);
  font-family: var(--font-family-second);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.reviews-columns__name {
  color: var(--color-black);
  font-weight: 500;
  /* Если меньше контейнера */
  font-size: 21px;
  line-height: 147.619047619%;
  letter-spacing: 0.02em;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 1200px) {
  .reviews-columns__name {
    font-size: calc(19px + 2 * ((100vw - 320px) / 880));
  }
}
.reviews-columns__name span {
  color: var(--color-orange);
}

.contacts:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 150px;
}
@media (max-width: 1200px) {
  .contacts:not(:last-child) {
    margin-bottom: calc(75px + 75 * ((100vw - 320px) / 880));
  }
}
.contacts__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .contacts__title:not(:last-child) {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 880));
  }
}
.contacts__columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Если меньше контейнера */
  gap: 30px;
}
@media (max-width: 1200px) {
  .contacts__columns {
    gap: calc(30px + 0 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 768.2px) {
  .contacts__columns {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 425.2px) {
  .contacts__columns {
    grid-template-columns: repeat(1, 1fr);
  }
}

.contacts-columns__item {
  text-align: center;
}
.contacts-columns__icon:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .contacts-columns__icon:not(:last-child) {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 880));
  }
}
.contacts-columns__title {
  color: var(--color-gray);
  font-weight: 500;
  /* Если меньше контейнера */
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
}
@media (max-width: 1200px) {
  .contacts-columns__title {
    font-size: calc(20px + 4 * ((100vw - 320px) / 880));
  }
}
.contacts-columns__title:not(:last-child) {
  /* Если меньше контейнера */
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .contacts-columns__title:not(:last-child) {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
.contacts-columns__link {
  color: var(--color-black);
  font-weight: 500;
  /* Если меньше контейнера */
  font-size: 24px;
  line-height: 150%;
  text-transform: uppercase;
  max-width: 255px;
  /* Если меньше контейнера */
  max-width: 255px;
  margin: 0px auto;
}
@media (max-width: 1200px) {
  .contacts-columns__link {
    font-size: calc(20px + 4 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1200px) {
  .contacts-columns__link {
    max-width: calc(200px + 55 * ((100vw - 320px) / 880));
  }
}

.columns__link--color {
  color: var(--color-orange);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page {
  flex: 1 1 auto;
  /* Если меньше контейнера */
  margin-bottom: 150px;
}
@media (max-width: 1200px) {
  .page {
    margin-bottom: calc(75px + 75 * ((100vw - 320px) / 880));
  }
}

._container {
  max-width: 1230px;
  margin: 0px auto;
  padding: 0 15px;
}