@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald:regular,500,700&display=swap");
:root {
  --color-orange: #F7654A;
  --color-dark: #404149;
  --color-light-gray: #F7F7F7;
  --color-gray: #999999;
  --color-white: #fff;
  --color-black: #000;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  display: block;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: #000;
  display: block;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: hidden;
  background-color: #e5e5e5;
  font-family: "Oswald";
}

.burger {
  background-color: #f7654a;
  display: inline-block;
  padding: 15px;
  /* Если меньше контейнера */
  padding: 15px;
}
@media (max-width: 1200px) {
  .burger {
    padding: calc(15px + 0 * ((100vw - 320px) / 880));
  }
}
@media (any-hover: hover) {
  .burger {
    transition: background-color 0.3s;
  }
  .burger:hover {
    background-color: #fff;
  }
  .burger:hover .burger__icon span {
    transition: background-color 0.3s;
    background-color: var(--color-orange);
  }
}
.burger__icon {
  width: 21px;
  height: 17px;
  position: relative;
}
.burger__icon span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3.3px;
  background-color: var(--color-white);
  border-radius: 1px;
  top: 50%;
  transform: translateY(-50%);
}
.burger__icon span:first-child {
  top: 0;
  transform: none;
}
.burger__icon span:last-child {
  top: auto;
  bottom: 0;
  transform: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s;
}
.header._active {
  background-color: rgba(62, 60, 67, 0.9411764706);
}
.header._active .header__body {
  height: 80px;
}
@media (max-width: 1024.2px) {
  .header._active .header__body {
    /* Если меньше контейнера */
    height: 80px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .header._active .header__body {
    height: calc(70px + 10 * ((100vw - 320px) / 880));
  }
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  transition: height 0.3s;
}
@media (max-width: 1024.2px) {
  .header__body {
    /* Если меньше контейнера */
    height: 100px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .header__body {
    height: calc(90px + 10 * ((100vw - 320px) / 880));
  }
}
.header__logo {
  width: 60px;
}
@media (max-width: 1024.2px) {
  .header__logo {
    /* Если меньше контейнера */
    width: 60px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .header__logo {
    width: calc(50px + 10 * ((100vw - 320px) / 880));
  }
}
.header__logo img {
  max-width: 100%;
}
.header__menu-shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}
@media (min-width: 480.2px) {
  .header__menu-shadow._active {
    opacity: 1;
    pointer-events: all;
  }
}

.menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 450px;
  height: 100%;
  background-color: #e5e5e5;
  filter: drop-shadow(0 6px 14px rgba(0, 0, 0, 0.2));
  transition: right 0.5s;
}
.menu._active {
  right: 0;
}
@media (max-width: 1024.2px) {
  .menu {
    /* Если меньше контейнера */
    width: 450px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .menu {
    width: calc(350px + 100 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 480.2px) {
  .menu {
    width: 100%;
  }
}

.menu-top {
  padding: 15px;
  background-color: #d2d2d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-top__close {
  font-size: 20px;
  width: 35px;
  height: 35px;
  border-radius: 3px;
  color: #000;
  display: flex;
  justify-content: center;
}
@media (any-hover: hover) {
  .menu-top__close {
    transition: 0.3s;
  }
  .menu-top__close:hover {
    background-color: rgba(229, 229, 229, 0.44);
  }
}

.menu-logo {
  display: flex;
  align-items: center;
}
.menu-logo__icon {
  margin-right: 15px;
  width: 50px;
}
.menu-logo__icon img {
  max-width: 100%;
}
.menu-logo__title {
  font-size: 24px;
}

.menu-body__link {
  padding: 15px;
  border-bottom: 1px solid rgba(121, 121, 121, 0.368627451);
  font-size: 18px;
}
@media (any-hover: hover) {
  .menu-body__link {
    transition: background-color 0.1s, background-color 0.1s;
  }
  .menu-body__link:hover {
    background-color: var(--color-orange);
    color: #e5e5e5;
  }
}

._title-big {
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  line-height: 147.2222222222%;
  color: var(--color-black);
}
@media (max-width: 1024.2px) {
  ._title-big {
    /* Если меньше контейнера */
    font-size: 36px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  ._title-big {
    font-size: calc(31px + 5 * ((100vw - 320px) / 880));
  }
}

._title-middle {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: var(--color-dark);
}

._title-little {
  font-weight: 500;
  font-size: 21px;
  line-height: 147.619047619%;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-black);
}

._text {
  font-weight: 400;
  font-size: 16px;
  line-height: 137.5%;
  color: var(--color-gray);
}

.link {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  min-height: 49px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: var(--color-white);
}
.link__icon {
  margin-right: 15px;
}
.link__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  color: var(--color-black);
}

._container {
  max-width: 1110px;
  margin: 0px auto;
  padding: 0 15px;
}

.main-block {
  background-image: url("../img/sections/main-block/01.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  margin-bottom: 250px;
}
@media (max-width: 1024.2px) {
  .main-block {
    /* Если меньше контейнера */
    margin-bottom: 250px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .main-block {
    margin-bottom: calc(220px + 30 * ((100vw - 320px) / 880));
  }
}
.main-block__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  padding-top: 200px;
}
@media (max-width: 1024.2px) {
  .main-block__body {
    /* Если меньше контейнера */
    padding-top: 200px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .main-block__body {
    padding-top: calc(100px + 100 * ((100vw - 320px) / 880));
  }
}
.main-block__title {
  max-width: 734px;
  font-weight: 500;
  font-size: 64px;
  line-height: 148.4375%;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 35px;
}
@media (max-width: 1024.2px) {
  .main-block__title {
    /* Если меньше контейнера */
    font-size: 64px;
    /* Если меньше контейнера */
    margin-bottom: 35px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .main-block__title {
    font-size: calc(44px + 20 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .main-block__title {
    margin-bottom: calc(15px + 20 * ((100vw - 320px) / 880));
  }
}
.main-block__sub-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1024.2px) {
  .main-block__sub-title {
    /* Если меньше контейнера */
    font-size: 18px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .main-block__sub-title {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}

.experience {
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.experience__body {
  background-color: var(--color-light-gray);
  padding-top: 57px;
  padding-bottom: 57px;
  padding-left: 130px;
  padding-right: 130px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024.2px) {
  .experience__body {
    /* Если меньше контейнера */
    padding-top: 57px;
    /* Если меньше контейнера */
    padding-bottom: 57px;
    /* Если меньше контейнера */
    padding-left: 130px;
    /* Если меньше контейнера */
    padding-right: 130px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .experience__body {
    padding-top: calc(30px + 27 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .experience__body {
    padding-bottom: calc(30px + 27 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .experience__body {
    padding-left: calc(0px + 130 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .experience__body {
    padding-right: calc(0px + 130 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 552.2px) {
  .experience__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
.experience__item:nth-child(-n+2) {
  margin-bottom: 30px;
}
.experience__number {
  color: var(--color-orange);
  font-weight: 500;
  font-size: 72px;
  line-height: 134.7222222222%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 1024.2px) {
  .experience__number {
    /* Если меньше контейнера */
    font-size: 72px;
    /* Если меньше контейнера */
    margin-bottom: 10px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .experience__number {
    font-size: calc(52px + 20 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .experience__number {
    margin-bottom: calc(0px + 10 * ((100vw - 320px) / 880));
  }
}
.experience__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 147.2222222222%;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1024.2px) {
  .experience__title {
    /* Если меньше контейнера */
    font-size: 36px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .experience__title {
    font-size: calc(26px + 10 * ((100vw - 320px) / 880));
  }
}
.experience__sub-title {
  color: var(--color-gray);
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
}
@media (max-width: 1024.2px) {
  .experience__sub-title {
    /* Если меньше контейнера */
    font-size: 18px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .experience__sub-title {
    font-size: calc(14px + 4 * ((100vw - 320px) / 880));
  }
}

.projects {
  margin-bottom: 115px;
}
@media (max-width: 1024.2px) {
  .projects {
    /* Если меньше контейнера */
    margin-bottom: 115px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .projects {
    margin-bottom: calc(30px + 85 * ((100vw - 320px) / 880));
  }
}
.projects__title {
  margin-bottom: 60px;
}
@media (max-width: 1024.2px) {
  .projects__title {
    /* Если меньше контейнера */
    margin-bottom: 60px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .projects__title {
    margin-bottom: calc(30px + 30 * ((100vw - 320px) / 880));
  }
}
.projects__columns {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 1024.2px) {
  .projects__columns {
    /* Если меньше контейнера */
    grid-gap: 30px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .projects__columns {
    grid-gap: calc(10px + 20 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 552.2px) {
  .projects__columns {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}
.projects-item__img {
  margin: 0px auto;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
  position: relative;
}
.projects-item__img img {
  max-width: 100%;
}
@media (max-width: 552.2px) {
  .projects-item__img img {
    width: 100%;
  }
}
@media (max-width: 1024.2px) {
  .projects-item__img {
    /* Если меньше контейнера */
    padding-bottom: 50px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .projects-item__img {
    padding-bottom: calc(30px + 20 * ((100vw - 320px) / 880));
  }
}
.projects-item__img::before {
  content: "";
  display: block;
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 55px;
  height: 6px;
  background-color: var(--color-orange);
}
.projects-item__title {
  margin-top: 15px;
  margin-bottom: 20px;
}
@media (max-width: 1024.2px) {
  .projects-item__title {
    /* Если меньше контейнера */
    margin-top: 15px;
    /* Если меньше контейнера */
    margin-bottom: 20px;
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .projects-item__title {
    margin-top: calc(5px + 10 * ((100vw - 320px) / 880));
  }
}
@media (max-width: 1024.2px) and (max-width: 1200px) {
  .projects-item__title {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 880));
  }
}
.projects-item__text {
  max-width: 350px;
}
@media (max-width: 552.2px) {
  .projects-item__text {
    max-width: none;
  }
}